.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-container{
    background-color: rgba(128, 255, 0, 0.494);
    position: sticky;
    text-align: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
}











